.home-search-bg {
    height: 17.5rem;
    width: 100%;
    border-radius: 0.5rem;
    background: linear-gradient(0deg, #1483af 0%, #87CEEB 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


.home-search-bg .nav-link:active {
    background-color: whitesmoke;
    color:  #1483af !important;
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
}


.home-search-bg  .nav-link:hover {
    background-color: whitesmoke;
    color:  #1483af !important;
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
}

.home-search-bg .nav-link {
    color: white !important;
}

.home-options {
    display: flex;
    width: 100%;
    gap: 10px;
}

.home-option {
    height: 128px;
    width: 256px;
    border-radius: 0.6rem;
    padding: 1.25rem;
    background-color: white;
    border-style: groove;
    border-color:  #d5dfe9;
    border-width: 1px;
    color: #666A6E;
}


.home-option:hover  {
    background-color: #666A6E;
    color: white;
    height: 8.1rem;
    width: 16.1rem;
}

.home-option:hover >* {
    color: white;
}



.home-option h4 {
    margin-top: 0.6rem;
    font-weight: 900;
    color: black;
    font-size: 18px;
}

.home-option p {
    font-weight: 300;
    font-size: 12px;
}

.home-option i {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}